@model Student

<h2>Adeverinta Student</h2>

<p>Student(ul/a) @Model.NumeStudent @Model.PrenumeStudent este inscris la Facultatea de Matematica si Informatica,
    in anul universitar 2024 - 2025 si in grupa @Model.Grupa.</p>
<p>Adeverinta se elibereaza la data de @DateTime.Now.ToString("dd.MM.yyyy").</p>
<p>Decan - Nume Decan</p>
<p>Secretar Sef - Nume Secretar</p>