<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proiect.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Catalog" asp-action="Principal">Pagina principala</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav">
                        @if (Context.Session.GetInt32("Rol") == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="NoteStudent">Notele Mele</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="AlerteStudent">Alerte</a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("Rol") == 2)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="CursuriProfesor">Cursurile mele</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="MesajePrimite">Mesaje</a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("Rol") == 3)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="CataloageSecretar">Cataloage</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="TrimiteMesaj">Trimite Mesaj</a>
                            </li>
                        }
                        @if (Context.Session.GetInt32("Rol") == 4)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Moderare">Moderare</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @if (string.IsNullOrEmpty(Context.Session.GetString("User")))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form method="post" asp-area="" asp-controller="Catalog" asp-action="Logout" class="d-flex">
                                    <button type="submit" class="btn btn-link nav-link text-dark" style="border:none; padding:0; cursor:pointer;">
                                        Logout (@Context.Session.GetString("User"))
                                    </button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>